.container {
    display: flex;
    padding: 10px;
}

.info {
    width: 130px;
    cursor: default;
    user-select: none;
}

.buttonContainer {
    display: flex;
    width: 100%;
}

button {
    margin-left: 10px;
}

button:nth-last-child(1) {
    margin-left: auto;
}