$page-background: lightgrey;
$container-background: white;
$title: white;
$shadow: grey;
$secondaryText: grey;
$border: grey;
$border-hovered: rgb(82, 82, 82);
$checkbox-gradient-light: yellow;
$checkbox-gradient-dark: brown;
$active-button-text: cadetblue;
$button-text: grey;
$button-hover-text: black