$page-background: lightgrey;
$container-background: white;
$title: white;
$shadow: grey;
$secondary-text: grey;
$border: grey;
$border-hovered: rgb(82 82 82);
$checkbox-gradient-light: yellow;
$checkbox-gradient-dark: brown;
$active-button-text: mediumseagreen;
$button-text: grey;
$button-hover-text: black;
$description-completed: lightgrey;